/* Styling for index page*/

#nav-container {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 70px;
    padding-top: 18px;
    padding-left: 10px; 
    height: 70px;
}

#nav-container img {
    height: 100px;
    width: auto;
}

.header-wrapper {
    height: 170px;
}

.header-wrapper h1{
    text-align: center;
    font-size: 50px;
    
}

.header-wrapper p{
    text-align: center;
    font-size: 24px;
    
}

.panel-header {
    font-size: 25px;
    padding-left: 30px;
}

#filter {
    border: black;
    border-radius: 1em;
    background-color: grey;
    height: 100px;
    width: 320px;
    padding-top: 3px;

}

#filter label {
    padding-top: 30px;
    font-size: 22px;
}

#dropdown-menu {
    color: black;
    background-color: darkgray;
    font-size: 18px;
    margin-left: 10px;
}

#bacteria-stats-wrapper {
    border: black;
    border-radius: 2em;
    background-color: red;
    height: 310px;
    width: 320px;
}

#bacteria-stats-wrapper h3 {
    padding-left: 50px;
    padding-top: 8px;
    background-color: rosybrown;
    height: 50px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

table {
    margin-left: 45px;
    margin-top: 20px;
}

#bacteria-stats-wrapper #demo-body{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.visual-wrapper1 {
    padding-top: 25px;
}

#bar {
    padding-left: 70px;
}

#gauge {
    padding-left: 70px;
}

#bubble {
    padding-left: 70px;
}

.container2 {
    align-content: center;
}

.graph img {
    width: 1000px;
    height: 400px;
    margin-top: 50px;
    margin-left: 300px;
}

footer {
    height: 100px;
    text-align: right;
    font-size: 22px;
    padding-top: 57px;
    padding-right: 5px;

}